[flake8]
extend-ignore =
    E231, E241,
    E741,
exclude =
    .git,
    .ipynb_checkpoints,
    .mypy_cache,
    .pytest_cache,
    .eggs,
    *.egg,
    *.ipynb,
    __pycache__,
    docs,
    local_testing,
    resources,
    sensor_inventory,
max-complexity = 10
max-line-length = 100
max-doc-length = 100
count = True

per-file-ignores = 
    # test has a large commented block
    tests/test_numbakitode.py:W505,E501
    src/rydiqule/__init__.py:F401,E501
    # ignore star imports for these two modules
    src/rydiqule/solvers.py:F403,F405
    src/rydiqule/timesolvers.py:F403,F405